<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--link href="../tabs/company-info.html" rel="import" /-->
    <script type="text/javascript" src="../script/index.js"></script>
    <title>CasAnimale - Back Office - Billing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!--script src="../../node_modules/jquery/dist/jquery.min.js"></script-->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      let user_tmp;
      $(document).ready(async () => {
        $("#sidebar").load("../tabs/sidebar.html");
        $("#billingInfo").load("../tabs/billing-info.html");
        await setUser();
      });
      const setUser = async () => {
        user_tmp = await isUserLogged();
        if (user_tmp === undefined)
          window.location.href = "http://localhost:5000/b/views/login.html";
        if (user_tmp.admin) {
          $(".forAdmin").removeClass("hidden");
        }
      };
    </script>
  </head>
  <body>
    <div class="flex flex-col md:flex-row flex-1 h-full text-xl">
      <div
        class="md:fixed flex justify-center py-5 md:py-0 md:pl-5 self-center"
        id="sidebar"
      ></div>
      <div class="flex flex-col w-full p-5 pt-0 ml-0 md:p-5 md:ml-[106px]">
        <h1 id="title" class="font-bold text-4xl sm:text-6xl m-4 self-center">BILLING</h1>
        <div class="gray m-4 mb-1 self-center">
          Click on something followed by <i class="fa fa-copy"></i> to copy it!
        </div>
        <div id="billingInfo" class="flex m-4 mt-2"></div>
      </div>
    </div>
  </body>
</html>
