<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <script type="text/javascript" src="../script/index.js"></script>
    <title>CasAnimale - Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
      var user;

      const setUser = async () => {
        user = await isUserLogged();
        if (user === undefined)
          window.location.href = "http://http://site212247.tw.cs.unibo.it/b/views/login.html";
        fillCards();
        if (user.admin) {
          $("#cards").addClass("md:grid-cols-3");
          $(".forAdmin").removeClass("hidden");
        }
      };
      $(document).ready(function () {
        $("#sidebar").load("../tabs/sidebar.html");
      });
      const gotologin = (href) => {
        window.location.href = href;
      };
      let services = [
        {
          text: "customers",
          img: "../public/customers.png",
          alt: "users management icon",
          href: "customers.html",
          company: true,
        },
        {
          text: "forum",
          img: "../public/forum.png",
          alt: "post and forum management icon",
          href: "forum.html",
          company: false,
        },
        {
          text: "e-commerce",
          img: "../public/shop.png",
          alt: "online shop icon",
          href: "ecommerce.html",
          company: false,
        },
        {
          text: "prenotations",
          img: "../public/schedule.png",
          alt: "appointment and prenotation management icon",
          href: "prenotations.html",
          company: true,
        },
        {
          text: "Billing",
          img: "../public/billing.png",
          alt: "invoice and billing section icon",
          href: "billing.html",
          company: true,
        },
        {
          text: "profile",
          img: "../public/companies.png",
          alt: "data and companies management icon",
          href: "profile.html",
          company: true,
        },
      ];
      const fillCards = () => {
        let tmp = "";
        console.log(user);
        if (user.admin) {
          services[5].text = "companies";
          services[5].href = "companies.html";
        }
        $(document).ready(function () {
          services.map((item) => {
            if ((item.company && !user.admin) || user.admin)
              tmp +=
                `<div class="card flex justify-center">
              <button
              class="card-body hover:bg-opacity-50"
              style="padding-left: 3rem; padding-right: 3rem; padding-top:3rem; max-height: 18rem; max-width: 18rem; margin:0.5rem"
              onclick=gotologin("` +
                item.href +
                `")
              >
          <img
          src=` +
                item.img +
                `
          alt=` +
                item.alt +
                `
          class="h-auto w-full object-cover object-center group-hover:opacity-75"
          />
          <p class="card-title py-4 font-bold text-center align-center">` +
                item.text.toLocaleUpperCase() +
                `</p>
          </div>
          </button>`;
            $("#cards").html(tmp);
          });
        });
      };
    </script>
  </head>
  <body onload="setUser()">
    <div class="flex flex-col md:flex-row flex-1">
      <div
        class="md:fixed flex justify-center py-5 md:py-0 md:pl-5 self-center"
        id="sidebar"
      ></div>
      <div
        class="flex w-full md:h-screen p-5 pt-0 ml-0 md:p-5 md:ml-[106px]"
        id="presentation"
      >
        <div class="flex self-center flex-col w-full h-auto">
          <div class="flex flex-col text-center p-3 md:pb-6">
            <!-- TODO mettere if -> se admin Manage all your companies, se no va bene cosi-->
            <h1 class="primary font-bold text-4xl mb-5 md:mb-0 md:text-6xl">
              Administration
            </h1>
          </div>
          <div
            id="cards"
            class="grid grid-cols-1 mx-10 sm:mx-0 sm:grid-cols-2 gap-4"
            style="grid-auto-rows: 1fr"
          ></div>
        </div>
      </div>
    </div>
  </body>
</html>
