<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <script type="text/javascript" src="../script/index.js"></script>
    <title>CasAnimale - BO Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!--script src="../../node_modules/jquery/dist/jquery.min.js"></script-->
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
      $(document).ready(() => {
        const authHeader = document.cookie;
        const tokenback = authHeader && authHeader.split("=");
        if (tokenback[0] === "token") {
          alert("Log out from front office first");
          window.location.href = "http://localhost:5000/f";
          return;
        }
        if (tokenback) {
          if (tokenback[0] === "tokenback" && tokenback[1] !== "")
            window.location.href = "home.html";
          else {
            document.cookie =
              "tokenback=;path=/;domain=localhost;expires=Thu, 01 Jan 1970 00:00:01 GMT";
            window.location.reload();
          }
        }
      });

      const login = async () => {
        const mail = $("#emailTab").val();
        const pass = $("#passwordTab").val();
        var ret = await fetch("http://localhost:5000/api/admin/login", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ email: mail, password: pass }),
        });
        ret = await ret.json();
        if (ret.success) window.location.href = "home.html";
        else alert("Something went wrong");
      };
    </script>
  </head>

  <body>
    <section
      class="h-full flex justify-center gradient-form bg-gray-200 md:h-screen"
    >
      <div class="container py-6 sm:py-12 px-6 h-full">
        <div
          class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800"
        >
          <div class="xl:w-10/12">
            <div class="block bg-white shadow-lg rounded-lg">
              <div class="lg:flex lg:flex-wrap g-0">
                <div class="lg:w-6/12 px-4 md:px-0">
                  <div class="md:p-12 md:mx-6">
                    <div class="text-center">
                      <img
                        class="mx-auto w-80"
                        src="../public/CasAnimaleBO.png"
                        alt="logo CasAnimale backoffice"
                      />
                      <header>
                        <h1
                          class="text-xl font-semibold primary mt-8 mb-7 pb-1 uppercase"
                        >
                          Login
                        </h1>
                      </header>
                    </div>
                    <main>
                      <form>
                        <p class="mb-4">
                          Please login to your account with
                          <label for="emailTab">email</label> and
                          <label for="passwordTab">password</label>
                        </p>
                        <div class="mb-4">
                          <input
                            type="text"
                            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            id="emailTab"
                            placeholder="Email"
                          />
                        </div>
                        <div class="mb-4">
                          <input
                            type="password"
                            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            id="passwordTab"
                            placeholder="Password"
                          />
                        </div>
                        <div class="text-center pt-1 mb-12 pb-1">
                          <button
                            id="loginButton"
                            class="inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full mb-3"
                            type="button"
                            data-mdb-ripple="true"
                            data-mdb-ripple-color="light"
                            style="
                              background: linear-gradient(
                                to right,
                                #eba9b6,
                                #e0b2bd,
                                #c4a9b4,
                                #c798a4
                              );
                            "
                            onclick="login()"
                          >
                            Log in
                          </button>
                          <a
                            class="text-gray-500"
                            href="http://localhost:5000/f/restore"
                            >Forgot password?</a
                          >
                        </div>
                      </form>
                    </main>
                  </div>
                </div>
                <div
                  class="lg:w-6/12 flex items-center lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none"
                  style="
                    background: linear-gradient(
                      to right,
                      #eba9b6,
                      #e0b2bd,
                      #cba9b6,
                      #c798a4
                    );
                  "
                >
                  <aside class="text-white px-4 py-6 md:p-12 md:mx-6">
                    <h2 class="text-xl font-semibold mb-6 primary">
                      We are more than just an animal business!
                    </h2>
                    <p class="text-black">
                      If you aren't a company or an admin, please go back to the
                      <a
                        class="underline primary"
                        href="http://localhost:5000/f"
                        >front office</a
                      >.
                    </p>
                  </aside>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
