<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <script type="text/javascript" src="../script/index.js"></script>
    <title>CasAnimale - Back Office</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      let pts = [];
      let totPrenotations = 0;
      var user;
      var companies = [];
      const none = "-";

      $(document).ready(async () => {
        $("#sidebar").load("../tabs/sidebar.html");
        await setUser()
        if (user.admin) {
          getPts("");
        } else getPts(user.id);
      });

      const setUser = async () => {
        user = await isUserLogged();
        if (user === undefined)
          window.location.href = "http://site212247.tw.cs.unibo.it/b/views/login.html";
        if (user.admin) {
          $(".forAdmin").removeClass("hidden");
        }
      };
      const getDateString = (s) => {
        let d = new Date(s);
        return (
          d.getFullYear().toString() +
          "-" +
          ((d.getMonth() + 1).toString().length === 2
            ? (d.getMonth() + 1).toString()
            : "0" + (d.getMonth() + 1).toString()) +
          "-" +
          (d.getDate().toString().length === 2
            ? d.getDate().toString()
            : "0" + d.getDate().toString())
        );
      };
      let today = getDateString(new Date());
      let endPrenotation = getDateString(
        new Date().setFullYear(new Date().getFullYear() + 1)
      );

      const savePts = (index) => {
        if ($("#possiblePlaces" + index).val() != "") {
          pts[index].place = $("#possiblePlaces" + index).val();
        }
        if (
          $("#newDate" + index).val() !== "" &&
          $("#newStart" + index).val() !== ""
        ) {
          pts[index].start = new Date(
            $("#newDate" + index).val() +
              " " +
              chooseTime($("#newStart" + index).val())
          );
          pts[index].start = pts[index].start.toISOString();
        }
        pts[index].claimed = $("#newIsClaimed" + index).is(":checked");
        sendUpdatePt(index);
      };

      const sendUpdatePt = async (index) => {
        // console.log(pts[index]);
        var ret = await fetch("http://site212247.tw.cs.unibo.it/api/prenotation/update", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(pts[index]),
        });
        ret = await ret.json();
        alert(ret.message);
        window.location.reload();
      };

      const getCompany = async (id, index) => {
        var ret = await fetch("http://site212247.tw.cs.unibo.it/api/company?_id=" + id, {
          method: "GET",
          credentials: "include",
        });
        let tmp = await ret.json();
        companies.push(tmp[0]);
        return tmp[0];
      };

      const getPts = async (id) => {
        let ret;
        id === ""
          ? (ret = await fetch("http://site212247.tw.cs.unibo.it/api/prenotation", {
              method: "GET",
              credentials: "include",
            }))
          : (ret = await fetch(
              "http://site212247.tw.cs.unibo.it/api/prenotation?company=" + id,
              {
                method: "GET",
                credentials: "include",
              }
            ));
        pts = await ret.json();
        loadList();
      };

      const deletePt = async (id) => {
        var ret = await fetch("http://site212247.tw.cs.unibo.it/api/prenotation/" + id, {
          method: "DELETE",
          credentials: "include",
        });
        ret = await ret.json();
        alert(ret.message);
        window.location.reload();
      };

      const filterStartEndTime = (time, end) => {
        let hours = +time.substring(11, 13) + 1 + +end;
        if (hours === 0) return "12am";
        if (hours === 12) return "12pm";
        time = hours > 12 ? (hours % 12) + "pm" : hours + "am";
        return time;
      };

      const formatTime = (time) => {
        let hours = +time.substring(11, 13) + 1;
        if (hours === 0) time = "12am";
        else {
          if (hours === 12) time = "12pm";
          else {
            time = hours > 12 ? (hours % 12) + "pm" : hours + "am";
          }
        }
        time += " - ";
        if (hours + 1 === 0) time += "12am";
        else {
          if (hours + 1 === 12) time += "12pm";
          else {
            time +=
              hours + 1 > 12 ? ((hours + 1) % 12) + "pm" : hours + 1 + "am";
          }
        }
        return time;
      };
      const fillDaysChange = (index, cmp) => {
        let list = [];
        if (cmp?.online !== undefined)
          if (cmp?.online === true) {
            $("#possiblePlaces" + index).append(
              `
            <option value="online` +
                index +
                `">online</option>
            `
            );
          }
        if (!list.includes(cmp?.cities.monday)) {
          list.push(cmp?.cities.monday);
          $("#possiblePlaces" + index).append(
            `
          <option value="` +
              cmp?.cities.monday +
              `">` +
              cmp?.cities.monday +
              `</option>
          `
          );
        }
        if (!list.includes(cmp?.cities.tuesday)) {
          list.push(cmp?.cities.tuesday);
          $("#possiblePlaces" + index).append(
            `
          <option value="` +
              cmp?.cities.tuesday +
              `">` +
              cmp?.cities.tuesday +
              `</option>
          `
          );
        }
        if (!list.includes(cmp?.cities.wednesday)) {
          list.push(cmp?.cities.wednesday);
          $("#possiblePlaces" + index).append(
            `
          <option value="` +
              cmp?.cities.wednesday +
              `">` +
              cmp?.cities.wednesday +
              `</option>
          `
          );
        }
        if (!list.includes(cmp?.cities.thursday)) {
          list.push(cmp?.cities.thursday);
          $("#possiblePlaces" + index).append(
            `
          <option value="` +
              cmp?.cities.thursday +
              `">` +
              cmp?.cities.thursday +
              `</option>
          `
          );
        }
        if (!list.includes(cmp?.cities.friday)) {
          list.push(cmp?.cities.friday);
          $("#possiblePlaces" + index).append(
            `
          <option value="` +
              cmp?.cities.friday +
              `">` +
              cmp?.cities.friday +
              `</option>
          `
          );
        }
      };

      const chooseTime = (time) => {
        let len = time.length;
        if (len < 3) {
          alert("Incorrect time input");
          return "";
        }
        let moment = time[len - 2] + time[len - 1];
        let hours = "";

        hours += time[0] + (len > 3 ? time[1] : "");
        time = moment === "pm" && hours !== "12" ? +hours + 12 : +hours;
        time += ":00";
        return time;
      };
      const filterList = () => {
        let reqPrenotation = $("#filterPrenotationId").val();
        let reqCompany = $("#filterCompanyId").val();
        let reqCustomer = $("#filterUserId").val();
        let reqSchedule = $("#filterSchedule").val();
        let reqCity = $("#filterCity").val();
        let comparePrenotation = 0;
        let compareCompany = 0;
        let compareCustomer = 0;
        let compareSchedule = 0;
        let compareCity = 0;
        let tmp = "";
        $(document).ready(function () {
          if (pts !== undefined) {
            let index = 0;
            pts.map((item) => {
              comparePrenotation =
                reqPrenotation === ""
                  ? 0
                  : item._id.includes(reqPrenotation)
                  ? 0
                  : 1;
              compareCompany =
                reqCompany === ""
                  ? 0
                  : item.company.includes(reqCompany)
                  ? 0
                  : 1;
              compareCustomer =
                reqCustomer === ""
                  ? 0
                  : item.user.includes(reqCustomer)
                  ? 0
                  : 1;
              compareSchedule =
                reqSchedule === ""
                  ? 0
                  : filterStartEndTime(item.start, 0).includes(reqSchedule)
                  ? 0
                  : 1;
              compareCity =
                reqCity === ""
                  ? 0
                  : item.place.toLowerCase().includes(reqCity.toLowerCase())
                  ? 0
                  : 1;
              if (
                comparePrenotation +
                  compareCompany +
                  compareCustomer +
                  compareSchedule +
                  compareCity ===
                0
              ) {
                tmp += makeItemPrenotation(
                  index,
                  item._id,
                  item.text,
                  item.place,
                  item.start,
                  item.user,
                  item.company,
                  item.claimed
                );
                index++;
                totPrenotations = index;
              }
            });
          }
          tmp !== ""
            ? $("#ptsList").html(tmp)
            : $("#ptsList").html(
                `<p class="mt-4 font-semibold">No prenotations found with these filters</p>`
              );
          $("#totPrenotations").html("TOTAL RESULTS: " + totPrenotations);
          totPrenotations = 0;
        });
      };
      const setWorkingCities = (index, item) => {
        $("#workingCities" + index).append(
          `
        <div class="flex flex-col text-base ml-3">
          <div><span class="font-bold">Monday: </span>` +
            item?.cities?.monday +
            `</div>
          <div><span class="font-bold">Tuesday: </span>` +
            item?.cities?.tuesday +
            `</div>
          <div><span class="font-bold">Wednesday: </span>` +
            item?.cities?.wednesday +
            `</div>
          <div><span class="font-bold">Thursday: </span>` +
            item?.cities?.thursday +
            `</div>
          <div><span class="font-bold">Friday: </span>` +
            item?.cities?.friday +
            `</div>
          </div>
        `
        );
      };

      const makeItemPrenotation = (
        index,
        id,
        text,
        place,
        start,
        user,
        company,
        isClaimed
      ) => {
        return (
          `
          <div class="flex flex-row my-3 text-xl">
            <span class="mr-1">` +
          (index + 1) +
          `.
              </span>
            <div class="flex flex-row flex-1 bg-white/50 p-2 rounded">
              <div class="flex flex-col">
                <div><span class="font-semibold">Prenotation id: </span>
                  <button class="btn" onclick="copy(this)">` +
          id +
          `
            <i class="fa fa-copy"></i></button>
                </div>
                <div id="workingCities` +
          index +
          `" class="hidden toshow` +
          index +
          `"><span class="font-bold">Working cities:</span>
                </div>
                <div><label for="possiblePlaces` + index + `" class="font-semibold">Place: </label>` +
          place +
          `
          <select
              id="possiblePlaces` +
          index +
          `"
              name="possiblePlaces` +
          index +
          `"
              type="text"
              class="toshow` +
          index +
          ` hidden change px-1 rounded shadow-sm border-primary ml-2 my-2 mb-1 bg-transparent"
            >
                <option value="">--change--</option>
            </select>
                </div>
                <div>
                  <label class="font-semibold" for="newDate` +
          index +
          `">Date:</label>

                  <input type="date" id="newDate` +
          index +
          `" class="toshow` +
          index +
          ` hidden change px-1 rounded shadow-sm border-primary my-1 ml-2 bg-transparent" name="trip-start" value="` +
          start.substring(0, 10) +
          `" min="` +
          today +
          `" max="` +
          endPrenotation +
          `">
                  <span class=tohidden` +
          index +
          `>` +
          start.substring(0, 10) +
          `     </span>
            </div>
                <div class="tohidden` +
          index +
          `"><span class="font-semibold">Schedule: </span>` +
          formatTime(start) +
          `</div>
          <div class="toshow` +
          index +
          ` hidden"><label for="newStart` + index + `" class="font-semibold">Start at: </label>
            <input
                type="text"
                name="newStart` +
          index +
          `"
                id="newStart` +
          index +
          `"
                value="` +
          filterStartEndTime(start, 0) +
          `"
                placeholder="Type new start time"
                class="change px-1 rounded shadow-sm border-primary my-1 ml-2 bg-transparent"
              />
          </div>
          <div class="toshow` +
          index +
          ` hidden"><span class="font-semibold">Duration: </span>
            <span>1 hour</span>
          </div>
          <div class="tohidden` +
          index +
          `"><span class="font-semibold">Is claimed: </span>` +
          isClaimed +
          `</div>
          <div class="flex flex-row toshow` +
          index +
          ` hidden"><form class="flex flex-row"><fieldset class="flex flex-row"><div><legend class="font-semibold mr-2 ">Invoice: </legend></div><div>
            <input
                type="checkbox"
                name="newIsClaimed"
                id="newIsClaimed` +
          index +
          `"
                class="change px-1 rounded shadow-sm"
                  ` +
          (isClaimed ? "checked" : "") +
          `
              />
              <label for="newIsClaimed` + index + `">claimed</label></div>
              </fieldset></form>
          </div>
                <div><span class="font-semibold">Company id: </span>
                  <button class="btn" onclick="copy(this)">` +
          company +
          `         <i class="fa fa-copy"></i></button>
                </div>
                <div><span class="font-semibold">Customer id: </span>
                  <button class="btn" onclick="copy(this)">` +
          user +
          `       <i class="fa fa-copy"></i></button>
                </div>
                <div><span class="font-semibold">Text: </span>` +
                  ((text !== undefined) ? text : none) +`
                </div>
              </div>
              </div>
              <div class="flex flex-col self-center">
              <button class="tohidden` +
          index +
          ` btn bg-update p-1 m-2 hover:opacity-80 text-white font-bold rounded-xl self-center" onclick="{$('.tohidden` +
          index +
          `').addClass('hidden'); $('.toshow` +
          index +
          `').removeClass('hidden');}">
                Update
              </button>
              <button class="toshow` +
          index +
          ` hidden btn bg-save border-save border-2 p-1 px-4 m-2 hover:opacity-80 text-white font-bold rounded-lg self-center" onclick="{$('.tohidden` +
          index +
          `').removeClass('hidden'); $('.toshow` +
          index +
          `').addClass('hidden')}; savePts('` +
          index +
          `')">
              SAVE
              </button>
              <button class="toshow` +
          index +
          ` hidden btn bg-transparent primary border-2 border-primary p-1 m-2 hover:opacity-80 font-bold rounded-lg self-center" onclick="{$('.tohidden` +
          index +
          `').removeClass('hidden'); $('.toshow` +
          index +
          `').addClass('hidden')}">
                CANCEL
              </button>
              <button class="tohidden` +
          index +
          ` btn bg-danger p-1 m-2 hover:opacity-80 text-white font-bold rounded-xl self-center" onclick="deletePt('` +
          id +
          `')">
                Delete
              </button>

            </div>
          </div>`
        );
      };
      const loadList = () => {
        let tmp = "";
        $(document).ready(() => {
          if (pts !== undefined) {
            pts.map(async (item, index) => {
              tmp += makeItemPrenotation(
                index,
                item._id,
                item.text,
                item.place,
                item.start,
                item.user,
                item.company,
                item.claimed
              );
              totPrenotations = index + 1;
              let cmp = await getCompany(item.company, index);

              fillDaysChange(index, cmp);
              setWorkingCities(index, cmp);
            });
          }
          $("#ptsList").html(tmp);
          $("#totPrenotations").html("TOTAL RESULTS: " + totPrenotations);
          totPrenotations = 0;
        });
        $(document).ready(function () {
          if (user.admin) $(".adminOnly").removeClass("hidden");
        });
      };

      const copy = (that) => {
        let inp = document.createElement("input");
        document.body.appendChild(inp);
        inp.value = that.textContent.trim();
        inp.select();
        document.execCommand("copy", false);
        inp.remove();
      };

      const showFilters = () => {
        $("#prenotationsFilter").removeClass("hidden");
        $("#showBtn").addClass("hidden");
        $("#hideBtn").removeClass("hidden");
        $("#resetBtn").removeClass("hidden");
        if (user.admin) $(".adminOnly").removeClass("hidden");
      };

      const hideFilters = () => {
        $("#prenotationsFilter").addClass("hidden");
        $("#showBtn").removeClass("hidden");
        $("#hideBtn").addClass("hidden");
        $("#resetBtn").addClass("hidden");
      };

      const resetFilters = () => {
        $("#filterPrenotationId").val("");
        $("#filterCompanyId").val("");
        $("#filterUserId").val("");
        $("#filterSchedule").val("");
        $("#filterCity").val("");
        filterList();
      };
    </script>
  </head>
  <body>
    <div class="flex flex-col md:flex-row flex-1 h-full text-xl">
      <div
        class="md:fixed flex justify-center py-5 md:py-0 md:pl-5 self-center"
        id="sidebar"
      ></div>
      <div class="flex flex-col w-full p-5 pt-0 ml-0 md:p-5 md:ml-[106px]">
        <h1 id="title" class="font-bold text-4xl sm:text-6xl m-4 self-center">
          PRENOTATIONS
        </h1>
        <div class="flex flex-col mx-4 mb-1 flex-0">
          <div class="gray self-center">
            Click on something followed by
            <i class="fa fa-copy"></i> to copy it!
          </div>
          <div class="flex flex-row mt-2">
            <button
              id="showBtn"
              class="hidden flex btn bg-save p-1 hover:opacity-80 text-white font-bold rounded mr-2"
              onclick="showFilters()"
            >
              Show filters
            </button>
            <button
              id="hideBtn"
              class="flex btn bg-save p-1 hover:opacity-80 text-white font-bold rounded mr-2"
              onclick="hideFilters()"
            >
              Hide filters
            </button>
            <button
              id="resetBtn"
              class="flex btn bg-secondary p-1 hover:opacity-80 text-white font-bold rounded"
              onclick="resetFilters()"
            >
              Reset filters
            </button>
          </div>
        </div>
        <div id="list" class="flex flex-1 m-4 mt-2">
          <div class="flex flex-col flex-1">
            <div id="prenotationsFilter" class="flex flex-col">
              <!-- primo filtro-->
              <div class="flex flex-col sm:flex-row">
                <span class="flex">
                  <label
                    for="filterPrenotationId"
                    class="flex self-center primary font-semibold"
                    >Filter by prenotation id:</label
                  >
                </span>
                <span>
                  <input
                    id="filterPrenotationId"
                    name="filterPrenotationId"
                    type="text"
                    placeholder="ex. 63cecdc93b2ad296f8ed3989"
                    class="px-1 m-1 rounded w-[15rem]"
                    oninput="filterList()"
                  />
                </span>
              </div>
              <!-- secondo e terzo filtro-->
              <div class="flex flex-col lg:flex-row">
                <div class="flex flex-col sm:flex-row lg:mr-4 adminOnly hidden">
                  <span class="flex">
                    <label
                      for="filterCompanyId"
                      class="flex self-center primary font-semibold"
                      >Filter by company id:</label
                    >
                  </span>
                  <span>
                    <input
                      id="filterCompanyId"
                      name="filterCompanyId"
                      type="text"
                      placeholder="ex. 63c810b7a6a58c3116769cf9"
                      class="px-1 m-1 rounded w-[15rem]"
                      oninput="filterList()"
                    />
                  </span>
                </div>
                <div class="flex flex-col sm:flex-row lg:mr-4">
                  <span class="flex">
                    <label
                      for="filterUserId"
                      class="flex self-center primary font-semibold"
                      >Filter by customer id:</label
                    >
                  </span>
                  <span>
                    <input
                      id="filterUserId"
                      name="filterUserId"
                      type="text"
                      placeholder="ex. 635d00fdc77f11a1f22d313d"
                      class="px-1 m-1 rounded w-[15rem]"
                      oninput="filterList()"
                    />
                  </span>
                </div>
              </div>
              <!-- quarto e quinto filtro-->
              <div class="flex flex-col lg:flex-row">
                <div class="flex flex-col sm:flex-row lg:mr-4">
                  <span class="flex">
                    <label
                      for="filterSchedule"
                      class="flex self-center primary font-semibold"
                      >Filter by start time:</label
                    >
                  </span>
                  <span>
                    <input
                      id="filterSchedule"
                      name="filterSchedule"
                      type="text"
                      placeholder="ex. 9am"
                      class="px-1 m-1 rounded w-[15rem]"
                      oninput="filterList()"
                    />
                  </span>
                </div>

                <div class="flex flex-col sm:flex-row">
                  <span class="flex">
                    <label
                      for="filterCity"
                      class="flex self-center primary font-semibold"
                      >Filter by city:
                    </label>
                  </span>
                  <span>
                    <input
                      id="filterCity"
                      name="filterCity"
                      type="text"
                      placeholder="ex. Torino or online"
                      class="px-1 m-1 rounded w-[15rem]"
                      oninput="filterList()"
                    />
                  </span>
                </div>
              </div>
            </div>
            <div
              id="totPrenotations"
              class="flex flex-col flex primary font-semibold mt-4 my-2"
            ></div>
            <div id="ptsList" class="flex flex-col flex-1"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
