<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <script type="text/javascript" src="../script/index.js"></script>
    <title>CasAnimale - Back Office</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      let user;
      $(document).ready(async () => {
        user = await isUserLogged();
        $("#sidebar").load("../tabs/sidebar.html");

        if (user.admin) {
          $("#adminInfo").removeClass("hidden");
          $("#title").html("PERSONAL PROFILE");
          getAdminInfo(user.id);
        } else {
          $("#companyInfo").removeClass("hidden");
          $("#title").html("COMPANY PROFILE");
          getAccountInfo(user.id);
        }
      });
      const showTab = (divId) => {
        $(".tab").addClass("hidden");
        $("#" + divId).removeClass("hidden");
      };
      const getAccountInfo = async (id) => {
        let ret = await fetch("http://localhost:5000/api/company?_id=" + id, {
          method: "GET",
          credentials: "include",
        });
        ret = await ret.json();
      };
      const getAdminInfo = async (id) => {
        let ret = await fetch("http://localhost:5000/api/admin?_id=" + id, {
          method: "GET",
          credentials: "include",
        });
        ret = await ret.json();
      };
    </script>
  </head>
  <body>
    <div class="flex flex-col md:flex-row flex-1 h-full">
      <div
        class="md:fixed flex justify-center py-5 md:py-0 md:pl-5 self-center"
        id="sidebar"
      ></div>
      <div class="flex flex-col w-full p-5 pt-0 ml-0 md:p-5 md:ml-[106px]">
        <div
          id="title"
          class="flex font-bold text-4xl sm:text-6xl m-4 self-center"
        ></div>
        <div id="adminInfo" class="hidden flex mt-4">
          <div id="bar" class="flex h-screen flex-col w-80 bg-secondary">
            <button
              class="border-b-light thirdColor font-bold text-xl py-3"
              onclick="showTab('publicInfo')"
            >
              Public information
            </button>
            <button
              class="border-b-light thirdColor font-bold text-xl py-3"
              onclick="showTab('privateInfo')"
            >
              Privacy and security
            </button>
            <button
              class="border-b-light thirdColor font-bold text-xl py-3"
              onclick="showTab('places')"
            >
              Working places
            </button>
            <button
              class="border-b-light thirdColor font-bold text-xl py-3"
              onclick="showTab('servicesInfo')"
            >
              Services
            </button>
          </div>
          <div>
            <div id="publicInfo" class="tab">public</div>
            <div id="places" class="tab hidden">places</div>
            <div id="privateInfo" class="tab hidden">private</div>
            <div id="servicesInfo" class="tab hidden">services info</div>
          </div>
        </div>
        <div id="adminInfo" class="hidden flex mt-4"></div>
      </div>
    </div>
  </body>
</html>
