<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link href="../components/prenotation-list.html" rel="import" />
    <link href="../components/sidebar.html" rel="import" />
    <link href="../components/schedules.html" rel="import" />
    <script type="text/javascript" src="../script/index.js"></script>
    <title>CasAnimale - Back Office</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!--script src="../../node_modules/jquery/dist/jquery.min.js"></script-->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      $(document).ready(function () {
        $("#sidebar").load("../components/sidebar.html");
        $("#list").load("../components/prenotation-list.html");
        $("#schedules").load("../components/schedules.html");
      });
      const showList = () => {
        $(document).ready(function () {
          $("#schedules").addClass("hidden");
          $("#scheBtn").removeClass("noticeBorder");
          $("#listBtn").addClass("noticeBorder");
          $("#list").removeClass("hidden");
        });
      };
      const showSchedules= () => {
        $(document).ready(function () {
          $("#list").addClass("hidden");
          $("#schedules").removeClass("hidden");
          $("#scheBtn").addClass("noticeBorder");
          $("#listBtn").removeClass("noticeBorder");
        });
      };
      
    </script>
  </head>
  <body>
    <div class="flex flex-col md:flex-row flex-1 h-full">
      <div
        class="md:fixed flex justify-center py-5 md:py-0 md:pl-5 self-center"
        id="sidebar"
      ></div>
      <div class="flex flex-col w-full p-5 pt-0 ml-0 md:p-5 md:ml-[106px]">
        <div id="title" class="font-bold text-2xl sm:text-6xl m-4">
          PRENOTATIONS
        </div>
        <div class="flex flex-row">
          <button
            id="listBtn"
            class="noticeBorder bg-primary hover:opacity-80 text-white font-bold py-2 px-4 rounded mx-4"
            onclick="showList()"
          >
            LIST
          </button>
          <button
            id="scheBtn"
            class="bg-primary hover:opacity-80 text-white font-bold py-2 px-4 rounded mx-4"
            onclick="showSchedules()"
          >
            SCHEDULES
          </button>
        </div>
        <div id="list" class="flex flex-1 m-4"></div>
        <div id="schedules" class="hidden flex m-4"></div>
      </div>
    </div>
  </body>
</html>


<!--
  select: all, user, company (city, day)
-->