<script>
  const pts = [
    {
      place: "Bubano",
      start: "2023-01-23T11:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Bubano",
      start: "2023-01-23T09:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Mordano",
      start: "2023-02-23T14:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Trieste",
      start: "2023-02-01T09:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Lugo",
      start: "2023-02-06T09:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
  ];
  let tmp = "";
  $(document).ready(function () {
    pts.map((item, index) => {
      tmp +=
        `
          <div class="flex flex-row m-3 flex-1">` +
        (index + 1) +
        `.
              <div class="flex flex-col flex-1 bg-white p-2">
                  <div><span class="font-semibold">City:</span> ` +
        item.place +
        `
                  </div>
                  <div><span class="font-semibold">Schedule:</span> ` +
        item.start +
        `
                  </div>
                  <div><span class="font-semibold">Customer id:</span> ` +
        item.user +
        `
                  </div>
              </div>
          </div>`;
    });
    $("#ptsList").html(tmp);
  });
</script>

<body>
  <div id="ptsList" class="flex flex-col flex-1"></div>
</body>
