<script>
  const ptss = [
    {
      place: "Bubano",
      start: "2023-01-23T11:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Bubano",
      start: "2023-01-23T09:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Mordano",
      start: "2023-02-23T14:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Trieste",
      start: "2023-02-01T09:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Lugo",
      start: "2023-02-06T09:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Lugo",
      start: "2023-02-06T09:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Lugo",
      start: "2023-02-06T09:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Lugo",
      start: "2023-02-06T09:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Lugo",
      start: "2023-02-06T09:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Lugo",
      start: "2023-02-06T09:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Lugo",
      start: "2023-02-06T09:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Lugo",
      start: "2023-02-06T09:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Lugo",
      start: "2023-02-06T09:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Lugo",
      start: "2023-02-06T09:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
    {
      place: "Lugo",
      start: "2023-02-06T09:00:00.000Z",
      duration: 1,
      user: "635d00fdc77f11a1f22d313d",
    },
  ];

  let pts = [];
  const getPts = async () => {
    var ret = await fetch("http://localhost:5000/api/prenotation", {
      method: "GET",
      //body: {},
      credentials: "include",
    });
    pts = await ret.json();
    await loadList();
    //console.log(pts);
  };
  //non funziona
  const deletePt = async (id) => {
    var ret = await fetch("http://localhost:5000/api/prenotation/"+id, {
      method: "POST",
      body: {},
      credentials: "include",
    });
    pts = await ret.json();
    await loadList();
    //console.log(pts);
  }
  
  const loadList = () => {
    let tmp = "";
    $(document).ready(function () {
      pts.map((item, index) => {
        tmp +=
          `
        <div class="flex flex-row my-3">` +
          (index + 1) +
          `.
          <div class="flex flex-row flex-1 bg-white/50 p-2 rounded">
            <div class="flex flex-col">
              <div><span class="font-semibold">City:</span> ` +
          item.place +
          `
              </div>
              <div><span class="font-semibold">Schedule:</span> ` +
          item.start +
          `
              </div>
              <div><span class="font-semibold">Customer id:</span> ` +
          item.user +
          `
              </div>
            </div>
            <button class="btn bg-danger p-1 mx-2 hover:opacity-80 text-white font-bold rounded-xl self-center" onclick="deletePt(`+
          item.company +
          `
            )">
              Delete
            </button>
          </div>
        </div>`;
      });
      $("#ptsList").html(tmp);
    });
  };

  getPts();
</script>

<body>
  <div id="ptsList" class="flex flex-col flex-1"></div>
</body>
