<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script>
    let services1 = [
      {
        text: "customers",
        img: "../public/customers.png",
        alt: "customers icon",
      },
      {
        text: "forum",
        img: "../public/forum.png",
        alt: "forum icon",
      },
      {
        text: "e-commerce",
        img: "../public/shop.png",
        alt: "shop icon",
      },
      {
        text: "schedules",
        img: "../public/schedule.png",
        alt: "prenotation icon",
      },
      {
        text: "Billing",
        img: "../public/billing.png",
        alt: "billing icon",
      },
      {
        text: "videocalls",
        img: "../public/videocall.png",
        alt: "online services icon",
      },
    ];

    let tmp = "";
    $(document).ready(function () {
      services1.map((item) => {
        tmp +=
          `<a class="card flex space-between">
            <div
            class="card-body bg-[#cba9b6] hover:animate-pulse"
            style="padding-left: 3rem; padding-right: 3rem; padding-top:3rem; max-height: 18rem; max-width: 18rem; margin:0.5rem"
            >
        <img
        src=` +
          item.img +
          `
        alt=` +
          item.alt +
          `
        class="h-auto w-full object-cover object-center group-hover:opacity-75"
        />
        <p class="card-title py-4 font-bold text-center align-center">` +
          item.text.toLocaleUpperCase() +
          `</p>
        </div>
        </a>`;
        $("#cards").html(tmp);
      });
    });
  </script>
</head>
<div class="flex self-center flex-col w-full">
  <div class="flex flex-col text-center p-3 md:pb-6">
    <div class="primary font-bold text-2xl sm:text-4xl md:text-6xl">
      Manage your own company
    </div>
  </div>
  <div id="cards" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4" style="grid-auto-rows: 1fr"></div>
</div>
