<head>
  <style>
    td,
    th {
      border: 1px solid #000000;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>
<script>
  const goChange = () => {
    $(document).ready(function () {
      $("#changeBtn").addClass("hidden");
      $("#saveBtn").removeClass("hidden");
      $("input").removeClass("hidden");
      $(".day").addClass("hidden");
    });
  };
  const saveChange = () => {
    $(document).ready(function () {
      $("#saveBtn").addClass("hidden");
      $("#changeBtn").removeClass("hidden");
      $(".day").removeClass("hidden");
      $("input").addClass("hidden");
    });
  };
</script>
<body
  class="border-solid border-black border"
  style="font-family: arial, sans-serif; border-collapse: collapse; width: 50%"
>
  <div class="flex flex-col">
    <div class="flex flex-col sm:flex-row">
      <table>
        <tr>
          <th>Day</th>
          <th>City</th>
        </tr>
        <tr>
          <td>Monday</td>
          <td>
            <span class="day">Bubano</span>
            <input
              type="text"
              name="new-favanimal"
              id="cityMon"
              value="Bubano"
              placeholder="Type city"
              class="change hidden px-1 rounded shadow-sm"
            />
          </td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td>
            <span class="day">Torino</span>
            <input
              type="text"
              name="new-favanimal"
              id="cityTue"
              value="Torino"
              placeholder="Type city"
              class="change hidden px-1 rounded shadow-sm"
            />
          </td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td>
            <span class="day">Trieste</span>
            <input
              type="text"
              name="new-favanimal"
              id="cityWen"
              value="Trieste"
              placeholder="Type city"
              class="change hidden px-1 rounded shadow-sm"
            />
          </td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td>
            <span class="day">Torino</span>
            <input
              type="text"
              name="new-favanimal"
              id="cityThu"
              value="Torino"
              placeholder="Type city"
              class="change hidden px-1 rounded shadow-sm"
            />
          </td>
        </tr>
        <tr>
          <td>Friday</td>
          <td>
            <span class="day">Torino</span>
            <input
              type="text"
              name="new-favanimal"
              id="cityFri"
              value="Torino"
              placeholder="Type city"
              class="change hidden px-1 rounded shadow-sm"
            />
          </td>
        </tr>
      </table>
      <div class="m-4">
        <div class="my-2">
          Cities where you work are:
          <span class="font-bold">Bubano, Torino, Trieste.</span>
        </div>
        <button
          id="changeBtn"
          class="bg-[#114D59] hover:opacity-80 text-white font-bold py-2 px-4 my-2 rounded"
          onclick="goChange()"
        >
          Change Data
        </button>
        <button
          id="saveBtn"
          class="hidden bg-[#11591D] hover:opacity-80 text-white font-bold py-2 px-4 my-2 rounded"
          onclick="saveChange()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</body>
